@page "/resetpasswordconfirmation/"
@model ResetPasswordConfirmationModel
@{
    Layout = "/Views/Shared/Admin/_LoginLayout.cshtml";
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

@*<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@


<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">@ViewData["Title"]</h1>
            <p class="mb-4">
                Nhập địa chỉ email của bạn xuống dưới và chúng tôi sẽ gửi đường dẫn để đặt lại mật khẩu cho bạn!
            </p>
        </div>
        <p class="text-center">
            Mật khẩu của bạn đã được đặt lại, <a asp-page="./Login">Bấm vào đây để đăng nhập.</a>.
        </p>
    </div>
</div>